*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: sans-serif;
}
header {
    height: 80vh;
    width: 100vw;
    background-image: url(img/casino-logo.png);
    background-size: cover;
}
.navbar {
    position: absolute;
    padding: 50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.navbar a {
    color: white;
}
.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
    }

.navbar .nav-links ul li {
        margin: 25px;
}

.navbar .nav-links ul  li.active a {
    color: red;
    font-weight: 600;
}
@media screen and (max-width: 900px) {
.nav-links {
    display: none;
    }
}